/* Style page content */
body {
	font-size: 100%; 
	margin-right: 26%;
	padding-right: 12px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background: #0a451a;	
	background-image:url('images/stars.gif');
	
}
div {
	padding: 10px;
}

.header img{
	padding: 20px;
	alt="cover";
	border-radius: 50%;	
	width: 20%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header {
	color: #2dc1f7;
	font-size: 100%;
	text-align: center;
	padding: 10px;
}

.about-me {
	color: orange; 
 }
 
.history {
	color: white;
	background: red;
 }
 
.projects {
	color: pink;
 }

.value {
	color: red;	 
 } 

.sidebar {	
	width: 25%;
	height: 100%;
	margin-right: 10px;
	position: fixed;
	top: 10px;
	right: 0;
	padding: 0;
	text-align: left;
	background-image:url('images/toast.jpg');
	background-repeat: repeat;
	background-size: contain;
	color: purple;
}

.sidebar p{
	font-size: 90%;
	padding: 10px;
	line-height: 20px;
	font-weight: 900;
}


