/* Style page content */
body {
	font-size: 100%; 
	margin-right: 26%;
	padding-right: 12px;
	font-family: Garamond, serif;
	background: #0a451a;	
	
}
div {
	padding: 10px;
}

img{
	padding: 20px;
	width:50%;
	alt="cover";
	border-radius: 50%;	
	width: 30%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header {
	color: white;
	font-size: 100%;
	font-family:"Lucida Handwriting", serif;
	text-align: center;
	background-image:url('images/Monkey-Selfie.jpg');
	background-size:cover;
	padding: 10px;
	height: 70em;
}
.about-me {
	background-image:url('images/stars.gif');
	color: green;
	 
 }
.history {
	background-image:url('images/excited-dance.gif');
	color: yellow;
	height: 30em;
 }
 
.projects {
	background-image:url('images/bananas.jpg'); 
	color: blue;
 }

.value {
	background-image:url('images/suit.jpg');
	background-size: cover;
	color: purple;
	height: 20em;
	 
 } 

.sidebar {	
	width: 25%;
	height: 100%;
	margin-right: 10px;
	position: fixed;
	top: 10px;
	right: 0;
	padding: 0;
	text-align: left;
	background-image:url('images/forest.jpg');
	background-size: cover;
	color: red;
}

.sidebar p{
	font-size: 90%;
	padding: 10px;
	line-height: 20px;
	font-weight: 900;
}


